In [1]:
# Import necessary libraries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt   # plotting
import seaborn as sns   # plotting heatmap

In [5]:
# Import data, convert string dates to 'datetime64' and set the date column as index:
df = pd.read_csv('./CSI_Preprocessing/output/csi_outputs.csv',
                 parse_dates=['Time'],
                 infer_datetime_format=True,
                 index_col='Time',
                 thousands=',',
                 decimal='.'
                )
df.head()

,Unnamed: 0,Subcar_0,Subcar_1,Subcar_2,Subcar_3,Subcar_4,Subcar_5,Subcar_6,Subcar_7,Subcar_8,...,Subcar_55,Subcar_56,Subcar_57,Subcar_58,Subcar_59,Subcar_60,Subcar_61,Subcar_62,Subcar_63,Subcar_64
Time,,,,,,,,,,,,,,,,,,,,,
1.625554e+09,0,4343.04985,11583.116204,6556.174571,9442.766173,866.199169,887.929051,905.756038,904.191351,895.897874,...,223.647043,193.258894,175.889170,183.521116,182.912547,239.676866,312.078516,0.0,2146.567725,4778.184592
1.625554e+09,1,4343.04985,11583.116204,6556.174571,9442.766173,840.401095,859.684826,886.599120,888.981440,879.275270,...,228.116198,205.805734,178.809955,191.083751,169.543505,230.412673,296.319085,0.0,2146.567725,4778.184592
1.625554e+09,2,4343.04985,11583.116204,6556.174571,9442.766173,830.003614,846.435467,868.256299,857.184344,845.568448,...,189.928934,167.868997,162.003086,211.981131,199.251098,175.635987,157.848028,0.0,2146.567725,4778.184592
1.625554e+09,3,4343.04985,11583.116204,6556.174571,9442.766173,799.115761,837.195915,884.864961,890.982042,900.568709,...,270.248034,249.064249,227.369743,131.552271,113.137085,92.070625,85.000000,0.0,2146.567725,4778.184592
1.625554e+09,4,4343.04985,11583.116204,6556.174571,9442.766173,864.070020,884.672256,910.140648,897.427434,899.608804,...,209.570990,179.044687,159.765453,195.473783,181.796590,174.977141,179.426865,0.0,2146.567725,4778.184592

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 1095 entries, 1625554196.479444 to 1625554468.738092
Data columns (total 65 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1095 non-null   int64
 1   Subcar_0            1095 non-null   float64
 2   Subcar_1            1095 non-null   float64
 3   Subcar_2            1095 non-null   float64
 4   Subcar_3            1095 non-null   float64
 5   Subcar_4            1095 non-null   float64
 6   Subcar_5            1095 non-null   float64
 7   Subcar_6            1095 non-null   float64
 8   Subcar_7            1095 non-null   float64
 9   Subcar_8            1095 non-null   float64
 10  Subcar_9            1095 non-null   float64
 11  Subcar_10           1095 non-null   float64
 12  Subcar_11           1095 non-null   float64
 13  Subcar_12           1095 non-null   float64
 14  Subcar_13           1095 non-null   float64
 15  Subcar_14           1095 non-null   float64
 16  Subcar_15           1095 non-null   float64
 17  Subcar_16           1095 non-null   float64
 18  Subcar_17           1095 non-null   float64
 19  Subcar_18           1095 non-null   float64
 20  Subcar_19           1095 non-null   float64
 21  Subcar_20           1095 non-null   float64
 22  Subcar_21           1095 non-null   float64
 23  Subcar_22           1095 non-null   float64
 24  Subcar_23           1095 non-null   float64
 25  Subcar_24           1095 non-null   float64
 26  Subcar_25           1095 non-null   float64
 27  Subcar_26           1095 non-null   float64
 28  Subcar_27           1095 non-null   float64
 29  Subcar_28           1095 non-null   float64
 30  Subcar_29           1095 non-null   float64
 31  Subcar_30           1095 non-null   float64
 32  Subcar_31           1095 non-null   float64
 33  Subcar_32           1095 non-null   float64
 34  Subcar_33           1095 non-null   float64
 35  Subcar_34           1095 non-null   float64
 36  Subcar_35           1095 non-null   float64
 37  Subcar_36Subcar_37  1095 non-null   float64
 38  Subcar_38           1095 non-null   float64
 39  Subcar_39           1095 non-null   float64
 40  Subcar_40           1095 non-null   float64
 41  Subcar_41           1095 non-null   float64
 42  Subcar_42           1095 non-null   float64
 43  Subcar_43           1095 non-null   float64
 44  Subcar_44           1095 non-null   float64
 45  Subcar_45           1095 non-null   float64
 46  Subcar_46           1095 non-null   float64
 47  Subcar_47           1095 non-null   float64
 48  Subcar_48           1095 non-null   float64
 49  Subcar_49           1095 non-null   float64
 50  Subcar_50           1095 non-null   float64
 51  Subcar_51           1095 non-null   float64
 52  Subcar_52           1095 non-null   float64
 53  Subcar_53           1095 non-null   float64
 54  Subcar_54           1095 non-null   float64
 55  Subcar_55           1095 non-null   float64
 56  Subcar_56           1095 non-null   float64
 57  Subcar_57           1095 non-null   float64
 58  Subcar_58           1095 non-null   float64
 59  Subcar_59           1095 non-null   float64
 60  Subcar_60           1095 non-null   float64
 61  Subcar_61           1095 non-null   float64
 62  Subcar_62           1095 non-null   float64
 63  Subcar_63           1095 non-null   float64
 64  Subcar_64           1095 non-null   float64
dtypes: float64(64), int64(1)
memory usage: 564.6 KB

In [8]:
# Let's remove the empty column and look at some examples of data:
df = df.drop(columns='Unnamed: 0')
print(f'data shape = {df.shape}')
df.head()

data shape = (1095, 64)

,Subcar_0,Subcar_1,Subcar_2,Subcar_3,Subcar_4,Subcar_5,Subcar_6,Subcar_7,Subcar_8,Subcar_9,...,Subcar_55,Subcar_56,Subcar_57,Subcar_58,Subcar_59,Subcar_60,Subcar_61,Subcar_62,Subcar_63,Subcar_64
Time,,,,,,,,,,,,,,,,,,,,,
1.625554e+09,4343.04985,11583.116204,6556.174571,9442.766173,866.199169,887.929051,905.756038,904.191351,895.897874,876.208309,...,223.647043,193.258894,175.889170,183.521116,182.912547,239.676866,312.078516,0.0,2146.567725,4778.184592
1.625554e+09,4343.04985,11583.116204,6556.174571,9442.766173,840.401095,859.684826,886.599120,888.981440,879.275270,863.391568,...,228.116198,205.805734,178.809955,191.083751,169.543505,230.412673,296.319085,0.0,2146.567725,4778.184592
1.625554e+09,4343.04985,11583.116204,6556.174571,9442.766173,830.003614,846.435467,868.256299,857.184344,845.568448,824.869687,...,189.928934,167.868997,162.003086,211.981131,199.251098,175.635987,157.848028,0.0,2146.567725,4778.184592
1.625554e+09,4343.04985,11583.116204,6556.174571,9442.766173,799.115761,837.195915,884.864961,890.982042,900.568709,894.215298,...,270.248034,249.064249,227.369743,131.552271,113.137085,92.070625,85.000000,0.0,2146.567725,4778.184592
1.625554e+09,4343.04985,11583.116204,6556.174571,9442.766173,864.070020,884.672256,910.140648,897.427434,899.608804,876.256241,...,209.570990,179.044687,159.765453,195.473783,181.796590,174.977141,179.426865,0.0,2146.567725,4778.184592

In [9]:
# It appears that 'feature_5' has missing values up to 2012-10-18
# let's fill them backwards
df.Subcar_62 = df.Subcar_62.fillna(method='bfill')

In [10]:
# Basic statistics of the data:
df.describe()

,Subcar_0,Subcar_1,Subcar_2,Subcar_3,Subcar_4,Subcar_5,Subcar_6,Subcar_7,Subcar_8,Subcar_9,...,Subcar_55,Subcar_56,Subcar_57,Subcar_58,Subcar_59,Subcar_60,Subcar_61,Subcar_62,Subcar_63,Subcar_64
count,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,...,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1.095000e+03
mean,4343.844617,11550.056540,6565.356199,9437.493860,724.622533,713.728222,740.277101,738.091816,734.995679,716.123039,...,277.720926,259.775085,245.167583,229.508549,215.986306,214.708752,226.199879,0.059255,2140.686718,4.778185e+03
std,18.588019,488.343124,214.740125,123.308979,541.498303,121.290015,125.017076,123.791419,125.577043,124.478774,...,139.896637,144.446885,149.725216,150.999469,150.601316,142.955939,135.278622,1.960803,112.253740,9.099103e-13
min,4343.049850,4343.049850,6556.174571,6556.174571,239.770724,279.614020,314.085975,321.175964,292.385020,290.146515,...,52.630789,25.553865,26.400758,27.658633,11.401754,2.000000,7.211103,0.000000,0.000000,4.778185e+03
25%,4343.049850,11583.116204,6556.174571,9442.766173,592.670226,605.969055,628.022691,626.965903,623.469724,605.597223,...,166.207701,144.654759,124.010080,108.726720,96.586746,101.294124,124.062454,0.000000,2146.567725,4.778185e+03
50%,4343.049850,11583.116204,6556.174571,9442.766173,736.698717,764.299025,796.570775,795.447044,794.277659,773.471396,...,216.614866,200.142449,182.603395,162.631485,152.554908,175.282629,203.066492,0.000000,2146.567725,4.778185e+03
75%,4343.049850,11583.116204,6556.174571,9442.766173,789.479225,813.253033,844.104553,840.017558,839.791045,819.166650,...,382.239445,366.273793,357.246275,342.100128,330.191578,316.311551,310.642065,0.000000,2146.567725,4.778185e+03
max,4778.184592,11583.116204,11583.116204,9442.766173,9442.766173,1070.331257,1093.065872,1089.838520,1049.441756,1016.821027,...,892.858891,914.842063,941.204016,992.050402,1003.594041,973.151581,943.019088,64.884513,2146.567725,4.778185e+03